In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
root = Path.cwd().parent
data = root / 'data' / "MO"

In [13]:
names = pd.read_csv(data / 'names.csv', sep='\t', index_col=0, usecols=[0, 1, 5, 6])
images = pd.read_csv(data / 'images.csv', sep='\t', index_col=0, usecols=[0, 2, 5])
image_o = pd.read_csv(data / 'images_observations.csv', sep='\t', index_col=0)
loc_d = pd.read_csv(data / 'locations.csv', sep='\t', index_col=0,)
name_c = pd.read_csv(data / 'name_classifications.csv', sep='\t', index_col=0)

In [84]:
observations = pd.read_csv(data / 'observations.csv', sep='\t', index_col=0, parse_dates=[2])

In [87]:
observations.dropna(subset=['lat', 'long', 'alt'])

,name_id,when,location_id,lat,long,alt,vote_cache,is_collection_location,thumb_image_id
id,,,,,,,,,
3824,5067,2007-07-25,1219.0,20.7172,-104.8862,1474.0,2.594850,1,5702.0
8530,22581,2012-09-23,4148.0,19.2091,-99.2735,3494.0,0.864949,1,266130.0
8742,20662,2008-03-01,326.0,-18.1445,-63.6289,876.0,0.862941,1,16537.0
10365,461,2008-08-18,6197.0,20.4008,-104.7013,1436.0,2.748660,1,19449.0
10374,5067,2008-08-20,1219.0,20.7172,-104.8862,1474.0,2.594840,1,19513.0
...,...,...,...,...,...,...,...,...,...
534732,31073,2023-11-04,28660.0,45.7212,-122.5535,87.0,2.282660,1,1618475.0
534812,1,2023-11-04,NaN,37.9488,-84.8221,207.0,0.000000,1,1618505.0
534813,20651,2023-09-29,6309.0,37.0000,-77.0000,25.0,1.788920,1,1618507.0
534814,18700,2019-10-24,28661.0,36.8502,-82.8539,691.0,2.321760,1,1618527.0
534815,815,2023-10-29,16844.0,45.0000,-71.0000,634.0,1.716500,1,NaN